@charset "UTF-8";

/* Basic CSS */
body {
  margin:0;
  padding:0;
  background-color:#dcdcdc;
  text-align:center;
}

h1 {
  font-family:'Lilita One';
  font-size:32px;
  color:#d4af37;
  padding:20px;
  background-color:#000;
  border-radius:10px;
}

h2 {
  font-family:'Concert One';
  font-size:24px;
  color:#ffd700;
  text-align:center;
  padding:15px;
  background-color:#000;
  border-radius:10px;
}

p {
  font-family:'Sniglet';
  font-size:16px;
  color:#d4af37;
  text-align:center;
}

img {
  top:50%;
  width:50%;
  height:50%;
}
/* Basic CSS End */





/* Media Queries CSS */
/* Small Laptop Screen || Tablet in Landscape Mode Screen Media Queries CSS */
@media only screen and (max-width:1024px) {
  
}


@media only screen and (max-device-width:1024px) {

}
/* Small Laptop Screen || Tablet in Landscape Mode Screen Media Queries CSS End */




/* Tablet Screen in Portrait Mode Media Queries CSS */
@media only screen and (max-width:768px) {
  #navmenu {display:none;}
  #menu-icon {display:block;}
  #sidebar {display:block;}
}

@media only screen and (max-device-width:768px) {
	#navmenu {display:none;}
  #menu-icon {display:block;}
  #sidebar {display:block;}
  
  .slider-container {display:none;}
  
  #globecountries-intro {margin: 94px auto 0;}
}
/* Tablet Screen in Portrait Mode Media Queries CSS End */




/* Mobile Phone Screen in Landscape Mode Media Queries CSS */
@media only screen and (max-width:640px) {
  
}

@media only screen and (max-device-width:640px) {
  
}
/* Mobile Phone Screen in Landscape Mode Media Queries CSS End */




/* Mobile Phone Screen in Portrait Mode Media Queries CSS */
@media only screen and (max-width:480px) {
	#navmenu {display:none;}
  
  #menu-icon{display:block; right:4%;}
  #sidebar {display:block; width:100%;right:-100%;}
  #sidebar ul li {width:100%;}
  
  .slider-container {display:none;}
  
  #globecountries-intro {}
  
  #globecountries-intro #globecountries-description {
    width:95%;
    top:1%;
  }
  
  #globecountries-intro #globecountries-worldmap {
    width:95%;
  }
  
  #globecountries-intro #globecountries-weeklyfacts {
    display:none;

}

@media only screen and (max-device-width:480px) {
	#navmenu {display:none;}
  
  #menu-icon{display:block; right:4%;}
  #sidebar {display:block; width:100%;right:-100%;}
  
  .slider-container {display:none;}
  
  #globecountries-intro {}
  
  #globecountries-intro #globecountries-description {
    width:95%;
    top:1%;
  }
  
  #globecountries-intro #globecountries-worldmap {
    width:95%;
  }
  
  #globecountries-intro #globecountries-weeklyfacts {
    display:none;

}
}
/* Mobile Phone Screen in Portrait Mode Media Queries CSS End */




/* Extremely Small Screens Media Queries CSS */
@media only screen and (max-width:320px) {
	
}

@media only screen and (max-device-width:320px) {
	
}
/* Extremely Small Screens Media Queries CSS End */ 
/* Media Queries CSS End */
