@charset "UTF-8";

/* Basic CSS */
body {
  background-color:#000;
  margin:0;
  padding:0;
}

#all {
  position:fixed;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background:url(https://drive.google.com/uc?id=1RMn-Tl-5bCI55W4VIdOU9c1xBA6gRCxD) no-repeat;
  background-size:100%;
  text-align:center;
}

#h1 {
  position:absolute;
  top:22.5%;
  left:40%;
  position:fixed;
}

#h2 {
  position:absolute;
  top:60%;
  left:42%;
  position:fixed;
}

h1 span {
  font-family:'Lilita One';
  font-size:32px;
  top:5%;
  color:#d4af37;
  padding:16px;
  background:linear-gradient(to bottom, #3a1c71, #d76d77);
  border-radius:10px;
}

h2 span {
  font-family:'Concert One';
  font-size:24px;
  top:10%;
  color:#ffd700;
  text-align:center;
  padding:12px;
  background:linear-gradient(to bottom, #d76d77, #ffaf7b);
  border-radius:10px;
}

p {
  font-family:'Sniglet';
  font-size:16px;
  color:#d4af37;
  text-align:center;
}

.logo {
   position:relative;
}

.cpu {
    position: absolute; /* Takes this element out the document flow */
    z-index:10; /* Just in case of z-index issues, remove if not needed */
    top:0; 
    font-size:75vw;
    color:#d4af37;
    text-align:center;
    left:5%;
    position:fixed;
}
/* Basic CSS End */





/* Media Queries CSS */
/* Small Laptop Screen || Tablet in Landscape Mode Screen Media Queries CSS */
@media only screen and (max-width:1024px) {
  
}


@media only screen and (max-device-width:1024px) {

}
/* Small Laptop Screen || Tablet in Landscape Mode Screen Media Queries CSS End */




/* Tablet Screen in Portrait Mode Media Queries CSS */
@media only screen and (max-width:768px) {
  #navmenu {display:none;}
  #menu-icon {display:block;}
  #sidebar {display:block;}
}

@media only screen and (max-device-width:768px) {
	#navmenu {display:none;}
  #menu-icon {display:block;}
  #sidebar {display:block;}
  
  .slider-container {display:none;}
  
  #globecountries-intro {margin: 94px auto 0;}
}
/* Tablet Screen in Portrait Mode Media Queries CSS End */




/* Mobile Phone Screen in Landscape Mode Media Queries CSS */
@media only screen and (max-width:640px) {
  
}

@media only screen and (max-device-width:640px) {
  
}
/* Mobile Phone Screen in Landscape Mode Media Queries CSS End */




/* Mobile Phone Screen in Portrait Mode Media Queries CSS */
@media only screen and (max-width:480px) {
	#navmenu {display:none;}
  
  #menu-icon{display:block; right:4%;}
  #sidebar {display:block; width:100%;right:-100%;}
  #sidebar ul li {width:100%;}
  
  .slider-container {display:none;}
  
  #globecountries-intro {}
  
  #globecountries-intro #globecountries-description {
    width:95%;
    top:1%;
  }
  
  #globecountries-intro #globecountries-worldmap {
    width:95%;
  }
  
  #globecountries-intro #globecountries-weeklyfacts {
    display:none;

}

@media only screen and (max-device-width:480px) {
	#navmenu {display:none;}
  
  #menu-icon{display:block; right:4%;}
  #sidebar {display:block; width:100%;right:-100%;}
  
  .slider-container {display:none;}
  
  #globecountries-intro {}
  
  #globecountries-intro #globecountries-description {
    width:95%;
    top:1%;
  }
  
  #globecountries-intro #globecountries-worldmap {
    width:95%;
  }
  
  #globecountries-intro #globecountries-weeklyfacts {
    display:none;

}
}
/* Mobile Phone Screen in Portrait Mode Media Queries CSS End */




/* Extremely Small Screens Media Queries CSS */
@media only screen and (max-width:320px) {
	
}

@media only screen and (max-device-width:320px) {
	
}
/* Extremely Small Screens Media Queries CSS End */ 
/* Media Queries CSS End */
